<extend name="Public/base"/>

<block name="nav">
    <div class="am-cf am-padding">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">节点</strong> /
            <small>{$id ? '编辑' : '添加'}</small>
        </div>
    </div>

</block>


<block name="body">
    <hr/>

    <div class="am-g">

        <div class="am-u-sm-12 am-u-md-4 am-u-md-push-8">


        </div>

        <div class="am-u-sm-12 am-u-md-8 am-u-md-pull-4">
            <form class="am-form am-form-horizontal" method="post" id="ajaxForm">
                <input type="hidden" value="{$id}" name="id">

                <div class="am-form-group">
                    <label for="title" class="am-u-sm-3 am-form-label">节点名称</label>

                    <div class="am-u-sm-9">
                        <input type="text" id="title" value="{$title}" name="title" placeholder="节点名称">
                        <small></small>
                    </div>
                </div>

                <div class="am-form-group">
                    <label for="sort" class="am-u-sm-3 am-form-label">排序</label>

                    <div class="am-u-sm-9">
                        <input type="text" id="sort" value="{$sort ? $sort : 0}" name="sort"
                               placeholder="排序">
                        <small></small>
                    </div>
                </div>
                <div class="am-form-group">
                    <label for="url" class="am-u-sm-3 am-form-label">规则</label>

                    <div class="am-u-sm-9">
                        <input type="url" id="url" value="{$name}" name="name" placeholder="规则">
                        <small>例子: admin/index  controller/action</small>
                    </div>
                </div>

                <div class="am-form-group">
                    <label class="am-u-sm-3 am-form-label">上级菜单</label>

                    <div class="am-u-sm-9">
                        <select name="pid" data-am-selected="{btnSize: 'sm'}">
                            <volist name="Menus" id="v">
                            <option value="{$v.id}">{$v.title_show}</option>
                            </volist>
                        </select>
                    </div>
                </div>

                <div class="am-form-group">
                    <label  class="am-u-sm-3 am-form-label">菜单显示</label>

                    <div class="am-u-sm-9">
                        <div class="am-btn-group" data-am-button>
                            <label class="am-btn am-btn-default am-btn-xs">
                                <input type="radio" value="1" name="is_menu" id="hide1"> 是
                            </label>
                            <label class="am-btn am-btn-default am-btn-xs">
                                <input type="radio" value="0" name="is_menu" id="hide0"> 否
                            </label>

                        </div>
                    </div>
                </div>
                <div class="am-form-group">
                    <label  class="am-u-sm-3 am-form-label">URL OR Menu</label>

                    <div class="am-u-sm-9">
                        <div class="am-btn-group" data-am-button>
                            <label class="am-btn am-btn-default am-btn-xs">
                                <input type="radio" value="1" name="type" id="type1"> 规则
                            </label>
                            <label class="am-btn am-btn-default am-btn-xs">
                                <input type="radio" value="2" name="type" id="type2"> URL
                            </label>

                        </div>
                    </div>
                </div>


                <div class="am-form-group">
                    <div class="am-u-sm-9 am-u-sm-push-3">
                        <button type="button" class="am-btn am-btn-primary" onclick="addData($('#ajaxForm'))">保存
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</block>

<block name="script">
    <script>
        var $id = "{$id}";
        var $hide = "{$is_menu ? $is_menu : 0}";
        var $type = "{$type ? $type : 1}";
       // alert("{$info[type]}")
        var $pid = "{$pid ? $pid : 0}";
        $msg = $id ? "修改" : '添加';
        $(function () {
            $('#hide'+$hide).parents('label').addClass('am-active')
            $('#hide'+$hide).attr('checked', 'checked');
            $('#type'+$type).parents('label').addClass('am-active')
            $('#type'+$type).attr('checked', 'checked');
            $('select[name="pid"]').val($pid)
        })
        function addData(obj) {
            $.post("{$Think.ROOT_HOST}index.php?m={$Think.MODULE_NAME}&c={$Think.CONTROLLER_NAME}&a=add", obj.serialize(), function (json) {
                if (!json.s) {
                    alert(json.error)
                    return false;
                }
                alert($msg + '的ID：' + json.id)
                window.location.href = "{$Think.ROOT_HOST}index.php?m={$Think.MODULE_NAME}&c={$Think.CONTROLLER_NAME}"
            }, 'json');
            return false;
        }
    </script>
</block>